.btn-warning {
  transition: 0.3s;
  &:hover {
    color: #fff !important;
    background-color: #ff785e;
    border-color: #ff785e;
  }
}

.btn-custom {
  &:hover {
    color: #858377;
    background: $warning;
    border-color: $warning;
    .custom-icon {
      color: #ff785e;
      transition: 0.3s;
    }
  }
}

.sns-link {
  .sns--button {
    width: 30px;
    height: 30px;
  }
  .btn:hover {
    background: $warning;
    border: 1px solid $warning;
  }
  svg{
    color: #fff;
  }
}

.btn-shadow {
  box-shadow: 0 0 0.7rem rgba(73, 72, 70, 0.4);
}
