.nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  color: white;
  border-bottom: 2px solid $warning;
}